@media (max-width: 768px) {                                                                                                           
    .date-picker-container {                                                                                                          
        flex-direction: column;                                                                                                       
        align-items: flex-start;                                                                                                      
    }                                                                                                                                 
    .selected-date {                                                                                                                  
        margin-top: 10px;                                                                                                             
    }
}

body {
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif; /* Изменяет шрифт для всего документа */
}

.circle-image {
    display: inline-block;
    vertical-align: top;
    width: 36px;
    height: 36px;
    border-radius: 18px;
}
.user-info {
    display: flex; /* Включает Flexbox */
    align-items: center; /* Выравнивает элементы по вертикали */
    justify-content: flex-end;
    gap: 10px; /* Расстояние между картинкой и именем */
    margin-bottom: 20px;
}
.user-name {
    font-size: 18px; /* Размер текста */
    font-weight: bold; /* Жирный текст */
}
.logout-button {
    background-color: #54a9eb; /* Основной цвет кнопки */
    color: white; /* Цвет текста */
    font-size: 18px; /* Размер текста */
    font-weight: bold; /* Жирный текст */
    padding: 5px 10px; /* Внутренние отступы */
    border: none; /* Убирает стандартную рамку */
    border-radius: 25px; /* Закругленные углы */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Тень для объема */
    cursor: pointer; /* Указывает, что элемент кликабельный */
    transition: transform 0.2s, box-shadow 0.2s; /* Анимация при наведении */
    }

.logout-button:hover {
    transform: translateY(-2px); /* Поднимает кнопку */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); /* Усиливает тень */
}

.logout-button:active {
    transform: translateY(2px); /* Эффект нажатия */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Уменьшает тень */
}

.menu-container {
    position: relative; /* Для позиционирования подменю */
    display: inline-block;
}

/* Картинка */
.menu-trigger {
    cursor: pointer;
}

/* Подменю */
.dropdown-menu {
    display: none; /* Скрываем подменю по умолчанию */
    position: absolute;
    top: 50px; /* Позиция относительно картинки */
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 8px 0;
    min-width: 160px;
    z-index: 1000;
    animation: fadeIn 0.2s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

.dropdown-menu button {
    display: block;
    width: 100%;
    background: none;
    border: none;
    color: #333;
    text-align: left;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.dropdown-menu button:hover {
    background-color: #f5f5f5;
    color: #d32f2f;
}

.dropdown-menu button:active {
    background-color: #eeeeee;
}

.dropdown-menu::before {
    content: '';
    position: absolute;
    top: -8px;
    right: 15px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
}
.telegram-icon {
    color-scheme: light dark;
    --text-color: #212121;
    --second-color: #738ca7;
    --accent-color: #2481cc;
    --accent-line-color: #4ca3e2;
    --accent-btn-color: #2481cc;
    --accent-btn-bghover: #e6f1f7;
    --accent-btn-bgactive: #d4e6f1;
    --bubble-bgcolor: #fff;
    --bubble-border-color: #d7e3ec;
    --voice-progress-bgcolor: #d3dbe4;
    --radio-bghover: rgba(0, 0, 0, 0.05);
    --popup-bgcolor: #fff;
    --radio-item-color: #2392e7;
    --bubble-logo-icon-svg: url('data:image/svg+xml,%3Csvg%20height%3D%2220%22%20viewBox%3D%220%200%2024%2020%22%20width%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m488.649875%2044.6098697c6.442438-2.8224615%2010.738405-4.6832009%2012.887902-5.5822181%206.137252-2.5668769%207.41252-3.0127709%208.243723-3.0276516.182815-.0030813.591576.0424775.856354.2585203.223574.1824224.285088.428849.314524.6018054.029436.1729565.066092.5669556.036954.874815-.33258%203.5138587-1.771648%2012.041067-2.503764%2015.9766489-.309785%201.6652923-.919763%202.2236562-1.510292%202.2782995-1.283356.1187526-2.257879-.8528431-3.500872-1.6721675-1.945039-1.2820809-3.043862-2.0801802-4.931859-3.3312543-2.181908-1.4458326-.767468-2.2404874.475995-3.5391756.32542-.3398729%205.979917-5.5116482%206.08936-5.9808093.013687-.0586764.02639-.2773944-.102829-.3928855-.129218-.1154911-.319934-.0759976-.457559-.0445881-.195081.044522-3.302306%202.1096922-9.321675%206.1955107-.881976.6089971-1.680842.9057209-2.396598.8901714-.789064-.017142-2.306907-.4486274-3.435267-.8174505-1.38398-.4523766-2.48394-.6915513-2.388158-1.4598267.049889-.4001653.59791-.8094133%201.644061-1.227744z%22%20fill%3D%22%2333afed%22%20fill-rule%3D%22evenodd%22%20transform%3D%22translate%28-487%20-36%29%22%2F%3E%3C%2Fsvg%3E');
    --verified-icon-svg: url('data:image/svg+xml,%3Csvg%20fill%3D%22none%22%20height%3D%2226%22%20viewBox%3D%220%200%2026%2026%22%20width%3D%2226%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m6%206h12v12h-12z%22%20fill%3D%22%23fff%22%2F%3E%3Cpath%20clip-rule%3D%22evenodd%22%20d%3D%22m14.38%201.51%201.82%201.82c.37.37.86.57%201.38.57h2.57c1.01%200%201.85.77%201.94%201.76l.01.19v2.57c0%20.52.21%201.01.57%201.38l1.82%201.82c.71.71.76%201.84.13%202.61l-.13.15-1.82%201.82c-.37.37-.57.86-.57%201.38v2.57c0%201.01-.77%201.85-1.76%201.94l-.19.01h-2.57c-.52%200-1.01.21-1.38.57l-1.82%201.82c-.71.71-1.84.76-2.61.13l-.15-.13-1.82-1.82c-.37-.37-.86-.57-1.38-.57h-2.57c-1.01%200-1.85-.77-1.94-1.76l-.01-.19v-2.57c0-.52-.21-1.01-.57-1.38l-1.82-1.82c-.71-.71-.76-1.84-.13-2.61l.13-.15%201.82-1.82c.37-.37.57-.86.57-1.38v-2.57c0-1.08.87-1.95%201.95-1.95h2.57c.52%200%201.01-.21%201.38-.57l1.82-1.82c.76-.76%202-.76%202.76%200zm3.2%208.05c-.43-.34-1.03-.31-1.42.06l-.1.11-4.45%205.56-1.75-1.75-.11-.1c-.42-.32-1.03-.29-1.42.1s-.42.99-.1%201.42l.1.11%202.6%202.6.11.1c.42.32%201.02.29%201.4-.08l.1-.11%205.2-6.5.08-.12c.27-.46.17-1.05-.25-1.4z%22%20fill%3D%22%231c93e3%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
    --views-icon-svg: url('data:image/svg+xml,%3Csvg%20height%3D%2210%22%20viewBox%3D%220%200%2016%2010%22%20width%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m8%200c2.8897625%200%205.2230958%201.66666667%207%205-1.7769042%203.33333333-4.1102375%205-7%205-2.88976248%200-5.22309581-1.66666667-7-5%201.77690419-3.33333333%204.11023752-5%207-5zm0%201.48148148c-1.98523978%200-3.59459459%201.5752944-3.59459459%203.51851852s1.60935481%203.51851852%203.59459459%203.51851852%203.5945946-1.5752944%203.5945946-3.51851852-1.60935482-3.51851852-3.5945946-3.51851852zm0%201.85185185c.94037674%200%201.7027027.74619209%201.7027027%201.66666667s-.76232596%201.66666667-1.7027027%201.66666667-1.7027027-.74619209-1.7027027-1.66666667.76232596-1.66666667%201.7027027-1.66666667z%22%20fill%3D%22%238197af%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
    --voters-icon-svg: url('data:image/svg+xml,%3Csvg%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20width%3D%2212%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m3.60486756.00162755%204.54930464-.00162755c1.33727811%200%201.82220747.13923842%202.3110964.40069906.4888888.26146064.8725717.6451435%201.1340323%201.13403238l.0922854.18482021c.2018093.43861897.3084137.9561578.3084137%202.12627615v4.3083444c0%201.33727811-.1392384%201.82220747-.4006991%202.3110964-.2614606.4888888-.6451435.8725717-1.1340323%201.1340323l-.1848203.0922854c-.43861892.2018093-.95615775.3084137-2.1262761.3084137h-4.3083444c-1.33727811%200-1.82220747-.1392384-2.31109636-.4006991-.48888888-.2614606-.87257174-.6451435-1.13403238-1.1340323l-.09228534-.1848203c-.18739436-.407289-.29269878-.88262629-.30678617-1.88531586l-.00162755-4.54930464c0-1.33727811.13923842-1.82220747.40069906-2.31109636.26146064-.48888888.6451435-.87257174%201.13403238-1.13403238l.18482021-.09228534c.40728905-.18739436.88262634-.29269878%201.88531591-.30678617zm6.42546254%202.96804236c-.26626658-.26626656-.68293026-.29047261-.97654175-.07261815l-.08411844.07261815-3.96966991%203.96933009-1.46966991-1.46933009-.08411844-.07261815c-.29361149-.21785446-.71027517-.19364841-.97654174.07261815-.26626656.26626657-.29047261.68293025-.07261815.97654174l.07261815.08411844%202%202%20.08411844.07261815c.26098799.19364841.61920241.19603913.88259105.00717216l.09395069-.07979031%204.50000001-4.5.0726181-.08411844c.2178545-.29361149.1936484-.71027517-.0726181-.97654174z%22%20fill%3D%22%238197af%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
    --light-btn-text: #fff;
    --voice-icon-svg: url('data:image/svg+xml,%3Csvg%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m5%203.24662107v17.50675783c0%20.6750147.54720753%201.2222223%201.22222222%201.2222223.23559715%200%20.46617345-.0680925.66397379-.196081l13.52794929-8.7533789c.5667222-.3667026.7288701-1.1233929.3621675-1.6901151-.0937888-.1449463-.2172212-.2683787-.3621675-.3621675l-13.52794929-8.75337893c-.5667222-.3667026-1.3234125-.20455468-1.69011509.36216752-.12798845.19780033-.19608092.42837663-.19608092.66397378z%22%20transform%3D%22translate%281%200%29%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');
    --docfile-icon-svg: url('data:image/svg+xml,%3Csvg%20height%3D%2230%22%20viewBox%3D%220%200%2030%2030%22%20width%3D%2230%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m16.6538365%204.06433079c.1979918.04563221.3731812.11819804.5454493.22593253l.1128317.07532436c.1136531.08153308.2382757.18981438.4504173.39794253l5.3612119%205.36021649c.3651614.3651614.4782555.5046993.58599.6769675.1077345.1722681.1803003.3474575.2259325.5454493l.0265217.1330464c.0264976.1610204.0378091.3583423.0378091.7599994v11.1969055c0%20.8915187-.0928256%201.214805-.2671327%201.5407309s-.4300957.5817145-.7560216.7560216-.6492122.2671327-1.5407309.2671327h-12.8722296c-.89151874%200-1.21480498-.0928256-1.5407309-.2671327-.32592593-.1743071-.5817145-.4300957-.7560216-.7560216-.16089885-.3008547-.2523697-.5994602-.26549007-1.3448229l-.00164263-17.0681376c0-.89151874.09282561-1.21480498.2671327-1.5407309.1743071-.32592593.43009567-.5817145.7560216-.7560216.3008547-.16089885.5994602-.2523697%201.34482293-.26549007l7.39281347-.00164263c.5164163%200%20.695054.01869859.8930458.06433079zm-.5073899%202.7892226c-.0937682.09376819-.1464466.22094515-.1464466.35355339v3.79289322c0%20.5522847.4477153%201%201%201h3.7928932c.2761424%200%20.5-.2238576.5-.5%200-.1326082-.0526784-.2597852-.1464466-.3535534l-4.2928932-4.29289321c-.1952622-.19526215-.5118446-.19526215-.7071068%200z%22%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
    --docaudio-icon-svg: url('data:image/svg+xml,%3Csvg%20height%3D%2230%22%20viewBox%3D%220%200%2030%2030%22%20width%3D%2230%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m15%205c0-1.1045695.8954305-2%202-2h4c1.1045695%200%202%20.8954305%202%202v4h-6v12c0%202.6887547-2.1223067%204.8818181-4.7831104%204.9953805l-.2168896.0046195c-2.76142375%200-5-2.2385763-5-5s2.23857625-5%205-5c1.1261445%200%202.1653335.3723009%203.0011995%201.0005351z%22%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
    --pollopt-correct-icon-svg: url('data:image/svg+xml,%3Csvg%20height%3D%226%22%20viewBox%3D%220%200%208%206%22%20width%3D%228%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Cpath%20d%3D%22M1%2C3.43181818%20L2.820907%2C5.19754618%20C2.85078174%2C5.22651562%202.90134144%2C5.22445679%202.9333123%2C5.19345474%20L7%2C1.25%22%20stroke%3D%22%23fff%22%20stroke-width%3D%221.2%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    --pollopt-incorrect-icon-svg: url('data:image/svg+xml,%3Csvg%20height%3D%228%22%20viewBox%3D%220%200%208%208%22%20width%3D%228%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Cpath%20d%3D%22M%201.6%206.4%20L%206.4%201.6%20M%206.4%206.4%20L%201.6%201.6%22%20stroke%3D%22%23fff%22%20stroke-width%3D%221.2%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    --radio-item-icon-svg: url('data:image/svg+xml,%3Csvg%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20width%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%3E%3Crect%20height%3D%225.5%22%20rx%3D%221.1%22%20transform%3D%22matrix%28.70710678%20-.70710678%20.70710678%20.70710678%20-6.903479%208.428501%29%22%20width%3D%222.2%22%20x%3D%225.622361%22%20y%3D%229.797487%22%2F%3E%3Crect%20height%3D%2211%22%20rx%3D%221.1%22%20transform%3D%22matrix%28.70710678%20.70710678%20-.70710678%20.70710678%2010.937311%20-5.071194%29%22%20width%3D%222.2%22%20x%3D%2210.490128%22%20y%3D%225.166905%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    --bgcolor0: #e17076;
    --bgcolor1: #faa774;
    --bgcolor2: #a695e7;
    --bgcolor3: #7bc862;
    --bgcolor4: #6ec9cb;
    --bgcolor5: #65aadd;
    --bgcolor6: #ee7aae;
    --bgcolor0-top: #ff885e;
    --bgcolor0-bottom: #ff516a;
    --bgcolor1-top: #ffcd6a;
    --bgcolor1-bottom: #ffa85c;
    --bgcolor2-top: #82b1ff;
    --bgcolor2-bottom: #665fff;
    --bgcolor3-top: #a0de7e;
    --bgcolor3-bottom: #54cb68;
    --bgcolor4-top: #53edd6;
    --bgcolor4-bottom: #28c9b7;
    --bgcolor5-top: #72d5fd;
    --bgcolor5-bottom: #2a9ef1;
    --bgcolor6-top: #e0a2f3;
    --bgcolor6-bottom: #d669ed;
    --color0: #c03d33;
    --color1: #ce671b;
    --color2: #8544d6;
    --color3: #4fad2d;
    --color4: #2996ad;
    --color5: #168acd;
    --color6: #cd4073;
    --spoiler-bgcolor: #e3e5e8;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    font-weight: 500;
    background-color: #54a9eb;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    padding: 9px 15px 11px;
    border-radius: 20px;
    background: url('data:image/svg+xml,%3Csvg%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m1.95617055%2011.392196c5.77764656-2.42328736%209.63031585-4.02086673%2011.55800785-4.79273807%205.5039525-2.20384954%206.6476266-2.5866818%207.3930574-2.59932314.1639507-.00278035.5305319.0363352.7679878.22182361.2005031.15662277.2556695.36819788.2820684.51669348.026399.1484956.0592719.48677234.0331404.75109194-.2982611%203.0169019-1.5888322%2010.33812718-2.2454015%2013.71710898-.2778191%201.4297738-.8288514%201.7357846-1.3584441%201.7826999-1.1509274.1019576-2.0208916-.5588425-3.1356211-1.2622918-1.7443316-1.1007592-2.3854935-1.3972358-4.0786694-2.4713734-1.95675765-1.2413519-.8891962-1.8911034.2259543-3.0061212.2918402-.2918054%205.3989024-4.83750096%205.497052-5.24030969.0122753-.05037796-.1557336-.55407742-.2716182-.65323489-.1158847-.09915747-.2869204-.06524947-.4103446-.03828214-.17495.03822537-2.9615423%201.81132342-8.35977698%205.31929412-.79096496.5228681-1.50739646.7776269-2.1492945.7642766-.70764107-.0147176-2.06885864-.3851791-3.08078398-.7018404-1.24116762-.388398-1.69932554-.5713149-1.61342745-1.2309348.04474105-.3435709.36011227-.7024173.94611366-1.0765391z%22%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E') no-repeat 0 -1px;
}
.circle-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: #0088cc; /* Цвет фона */
    color: white; /* Цвет буквы */
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    user-select: none; /* Запрет выделения текста */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Легкая тень */
}

/* Footer styles */
.footer {
    position: relative;
    width: 100%;
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
    margin-top: auto;
}

/* Main content styles */
main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.book-btn {
    background-color: #4CAF50; /* Приятный зеленый */
    border-color: #45a049;
    color: white;
    transition: background-color 0.3s ease;
}

.book-btn:hover {
    background-color: #45a049; /* Темнее при наведении */
}

.book-btn:active {
    background-color: #3d8b40; /* Еще темнее при нажатии */
    transform: scale(0.98);
}

.cancel-btn {
    top: 0; 
    right: 0; 
    /* transform: translate(50%, -50%);  */
    width: 28px; 
    height: 28px; 
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: #ff4d4d;
    color: white;
    font-size: 10px;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.cancel-btn:hover {
    background-color: #e63939;
}
.cancel-btn:active {
    background-color: #cc3333;
    transform: scale(0.95);
}

.date-picker-container {
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 15px;
    background: #f5f5f5;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.selected-date {
    font-size: 14px;
    color: #555;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 5px;
}

.selected-date strong {
    font-weight: 600;
    color: #333;
}

.date-picker-container label {
    margin-right: 10px;
    font-weight: bold;
}

.date-picker-container input[type="date"] {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.date-picker {
    margin-bottom: 20px;
    padding: 10px;
    background: #f5f5f5;
    border-radius: 4px;
}

.date-picker label {
    margin-right: 10px;
    font-weight: bold;
}

.date-picker input[type="date"] {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}


.badge.bg-primary {
    font-size: 0.75em;
    vertical-align: middle;
}

.list-group-item .fw-medium {
    color: #333;
}

.list-group-item small.text-muted {
    font-size: 0.85em;
}
.partial-collapse.collapse:not(.show) {
    display: block;
    height: 80px; /* Высота в свернутом состоянии */
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}
.partial-collapse.collapsing {
    height: 80px;
    overflow: hidden;
    transition: height 0.35s ease;
}

/* Градиент для плавного перехода */
.partial-collapse {
    position: relative;
}

.partial-collapse::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: linear-gradient(to bottom, transparent, white);
    pointer-events: none; /* Чтобы градиент не перекрывал клики */
    transition: opacity 0.3s ease;
}

.partial-collapse.collapse.show::after {
    opacity: 0; /* Скрываем градиент при раскрытии */
}

/* Стрелочка */
.toggle-partial-collapse {
    position: absolute;
    left: 50%; /* Центрируем по горизонтали */
    
    transform: translateX(-50%); /* Точное центрирование */
    background-color: white; /* Фон кнопки */
    padding: 5px 10px;
    cursor: pointer;
    z-index: 1; /* Чтобы кнопка была поверх текста */
}

.toggle-partial-collapse::after {
    content: '';
    position: absolute;
    left: 50%; /* Центрируем по горизонтали */
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #000; /* Стрелочка вниз */
    transition: transform 0.3s ease;
}

/* Анимация стрелочки при раскрытии */
#tournament-card[aria-expanded="true"] .toggle-partial-collapse::after {
    transform: translateY(-50%) rotate(180deg); /* Стрелочка вверх */
}

.floating-collapse {
    position: absolute;
    top: 50px;
    left: 10px;
    width: 300px;
    background: #f8f9fa;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}