{% extends 'bootstrap.html' %}

{% load django_bootstrap5 %}
{% load static %}
<title>{% block title %}{{customer.name}}{% endblock %}</title>

{% block bootstrap5_content %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
{% include 'header.html' %}
    <div class="container">
        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}(no content){% endblock %}
    </div>
{% include 'footer.html' %}
{% block extra_js %}
    <script src="{% static 'js/color_mode_toggle.js' %}"></script>
{% endblock %}
{% endblock %}
