{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}

<main class="content container-fluid p-0">
<!-- your app -->
    <div class="date-picker-container">
        <label for="date-picker">Select Date:</label>
        <input type="date" id="date-picker" value="{{ selected_date|date:'Y-m-d' }}" min="{{ today|date:'Y-m-d' }}" data-url="{% url 'daily_schedule' '0000-00-00' %}">
        <span class="selected-date">
            Showing reservations for: 
            <strong>{{ selected_date|date:"F j, Y" }}</strong>
        </span>
    </div>

    <div class="container-fluid p-0">
        <div class="d-grid" style="grid-template-columns: minmax(20px, auto) {% for item in itemSlots %} 1fr{% endfor %}; grid-template-rows: repeat({{ timeSlots|length }}, 1fr); gap: 0px;">
            <div class=""></div>
            {% for itemSlot in itemSlots %}
                <div class="disabled border-bottom w-100 h-100 d-flex align-items-center justify-content-center">{{ itemSlot.name|slugify }}</div>
            {% endfor %}
            {% for timeSlot in timeSlots %}
                <div class="border-end w-100 h-100 d-flex align-items-center justify-content-center">{{ timeSlot.time_slot|time:"H:i" }}</div>
                {% for itemSlot in itemSlots %}
                    {% with schedule|get:timeSlot.id|get:itemSlot.id as userSlot %}
                    {% if userSlot and userSlot.merged %}
                    {% if userSlot.type == 'user' %}
                        <div class="position-relative flex-shrink-0">
                            <button class="btn disabled {% if userSlot.reserved_by.user.id == user.id %}btn-danger{% else %}btn-secondary{% endif %} w-100 h-100 d-flex align-items-center justify-content-center flex-shrink-0"
                            style="min-width: 0; font-size: clamp(12px, 2vw, 16px);">
                                {% if userSlot.reserved_by.user.id == user.id %}
                                    You <span class="text-success">✔</span>
                                {% else %}
                                    {{ userSlot.reserved_by.user }}
                                {% endif %}
                            </button>
                            {% if user %}
                            {% if userSlot.reserved_by.user.id == user.id or user.is_staff or user.is_superuser %}
                                <a href="{% url 'unbook_slot' userSlot.reserved_by.id %}" class="btn btn-outline-danger rounded-circle cancel-btn position-absolute">❌</a>
                            {% endif %}
                            {% endif %}
                        </div>
                    {% elif userSlot.type == 'tournament' %}
                        <div class="w-100 h-100 d-flex align-items-center justify-content-center flex-shrink-0 position-relative" style="grid-row: span {{ userSlot.rowspan }}; grid-column: span {{ userSlot.colspan }};">
                            <a href="{% url 'tournament_detail' userSlot.reserved_by.id %}" 
                            class="btn bg-gradient btn-{% if userSlot.reserved_by.is_training %}info{% else %}warning{% endif %} w-100 h-100 d-flex align-items-center justify-content-center flex-shrink-0"
                            style="min-width: 0; font-size: clamp(11px, 2vw, 16px);"
                            data-time="{{ userSlot.id }}">
                                <ul class="list-group list-group-flush d-flex align-items-center pt-0"
                                style="min-width: 0; font-size: clamp(8px, 2vw, 16px);">
                                    <li class="list-group-item bg-transparent">{{userSlot.reserved_by.name}}</li>
                                    <li class="list-group-item bg-transparent">🕒{{userSlot.reserved_by.start_time}}</li>
                                    <li class="list-group-item bg-transparent">🏁{{userSlot.reserved_by.end_time}}</li>
                                </ul>                        
                            </a>
                            <div
                            class="btn btn-outline-success border-0 position-absolute top-0 end-0 d-flex align-items-center justify-content-center flex-shrink-0 pe-1 pt-0"
                            style="min-width: 0; filter: hue-rotate(90deg) saturate(000%); font-size: clamp(11px, 2vw, 16px);"
                            id="participants_list-{{ userSlot.reserved_by.id }}" data-bs-toggle="dropdown">&#128100; {{ userSlot.reserved_by.participants_list|length }}</div>
                            <ul class="dropdown-menu" aria-labelledby="participants_list-{{ userSlot.reserved_by.id }}">
                                <li><h6 class="dropdown-header">Participants list</h6></li>
                                {% for name in userSlot.reserved_by.participants_list %}
                                    <li><a class="dropdown-item" href="#">{{ name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>                        
                    {% else %}
                        <div class="free d-flex align-items-center justify-content-center">
                        <a href="{% url 'book_slot' timeSlot.id itemSlot.id selected_date|date:'Y-m-d' %}" 
                            class="btn btn-outline-success bg-gradient border-0 w-100 h-100" 
                            data-time="{{ timeSlot.id }}" 
                            data-item="{{ itemSlot.id }}">Book</a>
                        </div>
                    {% endif %}
                    {% endif %}
                    {% endwith %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</main>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const datePicker = document.getElementById('date-picker');
    
    // Update page when date changes
    datePicker.addEventListener('change', function() {
        const selectedDate = this.value;
        const baseUrl = this.dataset.url;
        const newUrl = baseUrl.replace('0000-00-00', selectedDate);
        window.location.href = newUrl;
    });
});
</script>
<script src="{% static 'js/floating_collapse.js' %}"></script>
{% endblock %}

