{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% load markdownify %}

{% block content %}

<div class="container mt-4">
    <h2>Upcoming Tournaments</h2>
    <div class="row">
        {% for tournament in tournaments %}
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ tournament.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        {{ tournament.date }} {{ tournament.start_time|time:"H:i" }}-{{ tournament.end_time|time:"H:i" }}
                    </h6>
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="btn w-100 p-0">
                        <div class="progress w-100 me-3 p-0" style="height: 20px;"
                        id="participants_list-{{ tournament.id }}" data-bs-toggle="dropdown">
                            <div class="progress-bar" 
                                role="progressbar" 
                                style="width: {{ tournament.participants_list|length|percentage:tournament.max_participants }}">
                                {{ tournament.participants_list|length }}/{{ tournament.max_participants }}
                            </div>
                            <ul class="dropdown-menu" aria-labelledby="participants_list-{{ tournament.id }}">
                                <li><h6 class="dropdown-header">Participants list</h6></li>
                                {% for name in tournament.participants_list %}
                                    <li>
                                        <a class="dropdown-item" href="#">
                                        <div class="d-flex align-items-center">
                                            {% if name.avatar_url %}
                                                <img src="{{ name.avatar_url }}" alt="Image" class="circle-image menu-trigger dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                            {% else %}
                                                {{ name|initials_badge }}
                                            {% endif %}
                                            <div class="ps-2">{{ name }}</div>
                                        </div>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                        {% if tournament.is_cancelled %}
                        <span class="badge bg-danger">Canceled</span>
                        {% endif %}
                    </div>

                    <!-- Кликабельное описание с Collapse -->
                    <div id="tournament-card" class="card-text text-muted" style="font-size: 13px; cursor: pointer;"
                        data-bs-toggle="collapse"
                        data-bs-target="#description-{{ tournament.id }}"
                        aria-expanded="false"
                        aria-controls="#description-{{ tournament.id }}">
                        <!-- Полное описание (скрыто в сложенном состоянии) -->
                        <div id="description-{{ tournament.id }}" class="collapse partial-collapse">
                            {{ tournament.description|markdownify:"preview" }}
                            {% if tournament.is_training %}
                                {{ customer.base_description_training|markdownify:"preview" }}
                            {% else %}
                                {{ customer.base_description_tournament|markdownify:"preview" }}
                                {{'> ❗ Если зарегистрировано **менее {} участников**, турнир **ОТМЕНЯЕТСЯ**!'|format_string:tournament.min_participants|markdownify:"preview" }}
                            {% endif %}
                        </div>
                        <button class="btn btn-link toggle-partial-collapse">
                        </button>
                    </div>
                    <a href="{% url 'tournament_detail' tournament.id %}" class="btn btn-primary btn-sm">
                        View Details
                    </a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <div class="alert alert-info">No upcoming tournaments scheduled</div>
        </div>
        {% endfor %}
    </div>
</div>
<script src="{% static 'js/floating_collapse.js' %}"></script>
{% endblock %}
