{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}

<main class="content container-fluid p-0">
<!-- your app -->
    <div class="date-picker-container">
        <label for="date-picker">Select Date:</label>
        <input type="date" id="date-picker" value="{{ selected_date|date:'Y-m-d' }}" min="{{ today|date:'Y-m-d' }}" data-url="{% url 'weekly_schedule' '0000-00-00' %}">
        <span class="selected-date">
            Showing reservations for: 
            <strong>{{ selected_date|date:"F j, Y" }}</strong>
        </span>
    </div>

    <div class="container-fluid p-0">
        <div class="d-grid" style="grid-template-columns: minmax(10px, auto) {% for day in days %} 1fr{% endfor %}; grid-template-rows: repeat({{ timeSlots|length }}, 1fr); gap: -1px;">
            <div class=""></div>
            {% for day in days %}
                <div class="btn disabled rounded-0 border-0 border-start border-end {% if day.day|is_today %}bg-info {% endif %} w-100 h-100 d-flex align-items-center justify-content-center flex-shrink-0"
                            style="min-width: 0; font-size: clamp(11px, 2vw, 16px);">{{ day.day|weekday }}, {{ day.day|date:"d b" }}</div>
            {% endfor %}
            {% for timeSlot in timeSlots %}
                <div class="border-end w-100 h-100 d-flex align-items-center justify-content-center flex-shrink-0"
                            style="z-index: 1000; min-width: 0; font-size: clamp(11px, 2vw, 16px);">{{ timeSlot.time_slot|time:"H:i" }}</div>
                {% for day in days %}
                    {% with schedule|get:timeSlot.id|get:day.id as userSlot %}
                    {% if userSlot and userSlot.merged %}
                    {% if userSlot.type == 'user' %}
                        <div class="position-relative p-0 flex-shrink-0" style="min-width: 0;">
                            <button class="btn btn-{% if userSlot.reserved_by.user.id == user.id %}info{% else %}warning{% endif %} w-100 h-100 d-flex align-items-center justify-content-center flex-shrink-0"
                            style="min-width: 0; font-size: clamp(11px, 2vw, 16px);" aria-disabled="true">
                            {% if userSlot.user.id == user.id or user.is_staff or user.is_superuser %}
                            <a href="{% url 'unbook_slot' userSlot.reserved_by.id %}?date={{ selected_date|date:'Y-m-d' }}" 
                            class="btn btn-primary cancel-btn position-absolute">&#10006;</a>
                            {% endif %}
                            {% if userSlot.reserved_by.user.id == user.id %}
                                You <span class="reserved-icon">✔</span>
                            {% else %}
                                {{ userSlot.reserved_by.user }}
                            {% endif %}
                            </button>
                        </div>
                    {% elif userSlot.type == 'tournament' %}
                        <div class="w-100 h-100 d-flex align-items-center justify-content-center flex-shrink-0 position-relative" style="grid-row: span {{ userSlot.rowspan }}; grid-column: span {{ userSlot.colspan }};">
                            <a href="{% url 'tournament_detail' userSlot.reserved_by.id %}" 
                            class="btn p-0 rounded-0 bg-gradient btn-{% if userSlot.reserved_by.is_training %}info{% else %}warning{% endif %} w-100 h-100 d-flex align-items-center justify-content-center flex-shrink-0"
                            style="min-width: 0; font-size: clamp(11px, 2vw, 16px);"
                            data-time="{{ userSlot.id }}">{{userSlot.reserved_by.name}}</a>
                            <div
                            class="btn btn-outline-success border-0 position-absolute top-0 end-0 d-flex align-items-center justify-content-center flex-shrink-0 pe-1 pt-0"
                            style="min-width: 0; filter: hue-rotate(90deg) saturate(000%); ;font-size: clamp(11px, 2vw, 16px);"
                            id="participants_list-{{ userSlot.reserved_by.id }}" data-bs-toggle="dropdown">&#128100; {{ userSlot.reserved_by.participants_list|length }}</div>
                            <ul class="dropdown-menu" aria-labelledby="participants_list-{{ userSlot.reserved_by.id }}">
                                <li><h6 class="dropdown-header">Participants list</h6></li>
                                {% for name in userSlot.reserved_by.participants_list %}
                                    <li><a class="dropdown-item" href="#">{{ name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% else %}
                        <div class="free d-flex align-items-center justify-content-center">
                        <a href="{% url 'daily_schedule' day.day|date:'Y-m-d' %}" 
                            class="btn btn-outline-success border-0 w-100 h-100 d-flex align-items-center justify-content-center flex-shrink-0"
                            style="min-width: 0; font-size: clamp(11px, 2vw, 16px);"
                            data-time="{{ timeSlot.id }}" 
                            data-item="{{ day }}">Rent</a>
                        </div>
                    {% endif %}
                    {% endif %}
                    {% endwith %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</main>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const datePicker = document.getElementById('date-picker');
        
        // Update page when date changes
        datePicker.addEventListener('change', function() {
            const selectedDate = this.value;
            const baseUrl = this.dataset.url;
            const newUrl = baseUrl.replace('0000-00-00', selectedDate);
            window.location.href = newUrl;
        });
    });
</script>
<script src="{% static 'js/floating_collapse.js' %}"></script>
{% endblock %}

